*{
	box-sizing: border-box;
}

.container-fluid{

	border-bottom: :1px;


}

#header-nav {
    
    
	background-color:gray;
	border-radius: 0;
	border:0;

	

}
.section {
 
 margin: 10px;
 
 
 border: 1px solid gray;
 background-color: gray;
 
 padding: 1%;
 border-top: 5px;

}
.navbar-brand h1 {


	position:relative;
	bottom: 30px;
    left: 1px;
	color: black;
	font-weight: bold;
	height: 1px;
	margin-bottom: 20px; 
	margin-top: 20px;


	

}
  





h2 {
    margin-bottom:30px;



}



.plate {

	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;




}



#collapsable-nav {
	margin-top: 1px;
}



#nav-list a {
	color : black;
	text-align: center;
	background-color: beige;
	margin-bottom: 1px;

}

#nav-list a:hover {
	background:white;
}